In [11]:
import random
import datetime
from faker import Faker
fake = Faker()

positions = ['Software Engineer', 'Data Analyst', 'DevOps Engineer', 'ML Engineer','QA Engineer',
            'Backend Developer', 'Frontend Developer', 'Cloud Architect', 'SysAdmin', 'Data Scientist']

start = datetime.date(2015,1,1)
end = datetime.date(2024,6,1)

for i in range(50):
    name = fake.name().replace("'","''") # Escape single quotes
    position = random.choice(positions)
    start_date = fake.date_between(start_date= start, end_date= end) 
    salary = random.randint(60000, 200000)
    print(f"INSERT INTO employees (name, position, start_date, salary) VALUES('{name}', '{position}', '{start_date}', {salary});")

INSERT INTO employees (name, position, start_date, salary) VALUES('John Fields', 'ML Engineer', '2020-04-18', 66374);
INSERT INTO employees (name, position, start_date, salary) VALUES('Paul Hawkins', 'Frontend Developer', '2021-10-16', 77595);
INSERT INTO employees (name, position, start_date, salary) VALUES('Roberto Watson', 'Data Analyst', '2020-06-17', 62632);
INSERT INTO employees (name, position, start_date, salary) VALUES('Randy Hughes', 'Data Scientist', '2017-11-27', 157758);
INSERT INTO employees (name, position, start_date, salary) VALUES('Grace Ruiz', 'Software Engineer', '2019-06-01', 123778);
INSERT INTO employees (name, position, start_date, salary) VALUES('Brandon Gilmore', 'Cloud Architect', '2017-08-17', 197850);
INSERT INTO employees (name, position, start_date, salary) VALUES('Teresa Flynn', 'Frontend Developer', '2024-05-16', 139872);
INSERT INTO employees (name, position, start_date, salary) VALUES('Amanda Madden', 'Software Engineer', '2023-09-06', 186221);
INSERT INTO employees (name, position, start_date, salary) VALUES('Anthony Hammond', 'DevOps Engineer', '2024-02-06', 160069);
INSERT INTO employees (name, position, start_date, salary) VALUES('Melissa Boyer', 'ML Engineer', '2018-11-15', 82307);
INSERT INTO employees (name, position, start_date, salary) VALUES('Jerry Cunningham', 'SysAdmin', '2021-11-07', 190311);
INSERT INTO employees (name, position, start_date, salary) VALUES('John Roberts', 'SysAdmin', '2019-04-02', 71134);
INSERT INTO employees (name, position, start_date, salary) VALUES('Summer Leonard', 'SysAdmin', '2024-04-11', 148162);
INSERT INTO employees (name, position, start_date, salary) VALUES('Sherri Stanley', 'Software Engineer', '2015-08-16', 66319);
INSERT INTO employees (name, position, start_date, salary) VALUES('Jose Chan', 'Data Scientist', '2019-10-06', 190836);
INSERT INTO employees (name, position, start_date, salary) VALUES('Gary Clark', 'Data Analyst', '2019-11-25', 83856);
INSERT INTO employees (name, position, start_date, salary) VALUES('Randall Allen', 'Backend Developer', '2021-04-06', 132458);
INSERT INTO employees (name, position, start_date, salary) VALUES('Shannon Christensen', 'Data Scientist', '2018-08-07', 61253);
INSERT INTO employees (name, position, start_date, salary) VALUES('Jennifer Gardner', 'DevOps Engineer', '2022-08-15', 105450);
INSERT INTO employees (name, position, start_date, salary) VALUES('Thomas Reed', 'SysAdmin', '2022-03-31', 182026);
INSERT INTO employees (name, position, start_date, salary) VALUES('Mary Leon', 'ML Engineer', '2021-04-18', 130073);
INSERT INTO employees (name, position, start_date, salary) VALUES('Steven Sullivan', 'Data Scientist', '2015-10-20', 98216);
INSERT INTO employees (name, position, start_date, salary) VALUES('Jerry Wells', 'Cloud Architect', '2015-11-13', 183507);
INSERT INTO employees (name, position, start_date, salary) VALUES('Jeffrey Gill', 'Data Scientist', '2019-07-13', 187174);
INSERT INTO employees (name, position, start_date, salary) VALUES('David Williams', 'SysAdmin', '2015-01-21', 113419);
INSERT INTO employees (name, position, start_date, salary) VALUES('Beverly Galloway', 'Data Analyst', '2020-04-15', 85295);
INSERT INTO employees (name, position, start_date, salary) VALUES('Veronica Rogers', 'ML Engineer', '2019-12-20', 114304);
INSERT INTO employees (name, position, start_date, salary) VALUES('Todd Anderson', 'Cloud Architect', '2016-12-18', 195675);
INSERT INTO employees (name, position, start_date, salary) VALUES('Angela Park', 'Frontend Developer', '2018-04-04', 86744);
INSERT INTO employees (name, position, start_date, salary) VALUES('Renee Stevenson', 'Frontend Developer', '2021-06-29', 132839);
INSERT INTO employees (name, position, start_date, salary) VALUES('Caitlin Anderson', 'SysAdmin', '2020-05-28', 125886);
INSERT INTO employees (name, position, start_date, salary) VALUES('Joseph Phillips', 'Data Analyst', '2022-10-06', 143371);
INSERT INTO employees (name, position, start_date, salary) VALUES('Mr. Dustin Marsh', 'SysAdmin', '2023-11-26', 89000);
INSERT INTO employees (name, position, start_date, salary) VALUES('John Martinez', 'QA Engineer', '2021-11-05', 97612);
INSERT INTO employees (name, position, start_date, salary) VALUES('Elizabeth Morgan', 'Data Scientist', '2021-05-24', 147687);
INSERT INTO employees (name, position, start_date, salary) VALUES('David Gallegos', 'QA Engineer', '2015-11-10', 70001);
INSERT INTO employees (name, position, start_date, salary) VALUES('Ethan Chen', 'DevOps Engineer', '2024-03-14', 71371);
INSERT INTO employees (name, position, start_date, salary) VALUES('Monique Hernandez', 'QA Engineer', '2016-04-02', 176458);
INSERT INTO employees (name, position, start_date, salary) VALUES('Darlene Ellison', 'Backend Developer', '2023-08-28', 91567);
INSERT INTO employees (name, position, start_date, salary) VALUES('Jesse Fowler', 'Cloud Architect', '2019-01-13', 108557);
INSERT INTO employees (name, position, start_date, salary) VALUES('John Soto', 'Backend Developer', '2018-02-17', 98551);
INSERT INTO employees (name, position, start_date, salary) VALUES('Denise Marks', 'SysAdmin', '2021-10-01', 143241);
INSERT INTO employees (name, position, start_date, salary) VALUES('Juan Wiley', 'Frontend Developer', '2021-01-12', 68402);
INSERT INTO employees (name, position, start_date, salary) VALUES('Sarah Lewis', 'Data Analyst', '2023-07-19', 116471);
INSERT INTO employees (name, position, start_date, salary) VALUES('Kyle Wright', 'Frontend Developer', '2022-09-16', 197661);
INSERT INTO employees (name, position, start_date, salary) VALUES('Gregory Campbell', 'Backend Developer', '2018-05-19', 162043);
INSERT INTO employees (name, position, start_date, salary) VALUES('Rodney Mcneil', 'QA Engineer', '2015-12-08', 144072);
INSERT INTO employees (name, position, start_date, salary) VALUES('Nicholas Pena', 'ML Engineer', '2015-12-25', 119080);
INSERT INTO employees (name, position, start_date, salary) VALUES('Sean Adkins', 'Backend Developer', '2015-12-18', 185595);
INSERT INTO employees (name, position, start_date, salary) VALUES('Drew Weaver', 'Data Analyst', '2018-09-16', 158800);

In [16]:
import pandas as pd
import psycopg2
# Replace with your Neon connection details
conn_str= 'postgresql://neondb_owner:npg_l43gxpOPWaeX@ep-sparkling-river-adh1vabv-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# Connect to the database
conn = psycopg2.connect(conn_str)
#Query the table and load into Pandas
df = pd.read_sql_query("SELECT * FROM employees;", conn)
# Show the DataFrame
print(df.head())
conn.close()

   employee_id            name            position  start_date  salary
0            1     John Fields         ML Engineer  2020-04-18   66374
1            2    Paul Hawkins  Frontend Developer  2021-10-16   77595
2            3  Roberto Watson        Data Analyst  2020-06-17   62632
3            4    Randy Hughes      Data Scientist  2017-11-27  157758
4            5      Grace Ruiz   Software Engineer  2019-06-01  123778

C:\Users\joseg\AppData\Local\Temp\ipykernel_14520\620142458.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM employees;", conn)

In [40]:
#df.info
#df.describe()
#df.isnull().sum()
#df[df['salary'] > 100000]
#df[df['position'] == 'Data Scientist']

"""""
import matplotlib.pyplot as plt
df['salary'].plot(kind='hist', bins=10, title='Salary Distribution')
plt.xlabel('Salary')
plt.show()
# Bar chart of number of employees per position
df['position'].value_counts().plot(kind='bar', title='Employee Count by Position')
plt.ylabel('Number of Employees')
plt.show()
"""
df["start_date"] = pd.to_datetime(df["start_date"])

df["start_year"] = df["start_date"].dt.year
Salary_by_year = df.groupby("start_year")["salary"].mean()
print(Salary_by_year)



group = df.groupby(["position","Salary_by_year"])["salary"].mean()

start_year
2015    122526.125000
2016    186066.500000
2017    177804.000000
2018    108283.000000
2019    125662.714286
2020     85046.750000
2021    124468.666667
2022    157127.000000
2023    120814.750000
2024    129868.500000
Name: salary, dtype: float64

KeyError: 'Salary_by_year'